---
- name: Create VLANs on all switches
  hosts: switches
  gather_facts: no
  connection: network_cli
  tasks:
    - name: Create VLANs from inventory variable
      ios_config:
        lines:
          - "vlan {{ item.id }}"
          - " name {{ item.name }}"
      loop: "{{ vlans }}"

    - name: Show VLAN brief on switches
      ios_command:
        commands:
          - show vlan brief
      register: vlan_brief

    - name: Display VLAN brief
      debug:
        msg: "{{ vlan_brief.stdout[0] | default('') }}"