# Testing Results
Here are the results from testing our playbooks.

# Specific Test Results
## Show Loopbacks Created Automatically


## Show EIGRP Neighbor Relationships and EIGRP Routes


## Show VLANs


## Show Configured Services


## Show Backups Folder


---

# General Playbook Results
## 01_verify_connectivity.yaml


## 02_base_config.yaml


## 03_eigrp_config.yaml


## 04_vlan_config.yaml


## 05_services_config.yaml


## 06_backup_config.yaml


## 07_etherchannel_config.yaml
