# Testing Results
Here are the results from testing our playbooks.

# Specific Test Results
## Show Initial Ping Connectivity to Devices

## Show Loopbacks Created Automatically
### R1

### R2

## Show EIGRP Neighbor Relationships and EIGRP Routes
### R1

### R2


## Demonstrate Connectivity Between Loopback Interfaces


## Show VLANs
### S1

### S2

## Show EtherChannel
### S1

### S2

## Show Configured Services
### NTP Configuration

### Loggging Configuration


## Show Backups Folder


---

# General Playbook Results
## 01_verify_connectivity.yaml


## 02_base_config.yaml


## 03_eigrp_config.yaml


## 04_vlan_config.yaml


## 05_services_config.yaml


## 06_backup_config.yaml


## 07_etherchannel_config.yaml
